{% extends "blog/base_one.html" %}

{% block title %}Список статей{% endblock %}

{% block content %}
<h1>Статьи</h1>
<a href="{% url 'post_create' %}" class="btn btn-primary mb-3">Добавить новую статью</a>
<div class="list-group">
  {% for post in object_list %}
  <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action">
      <h5 class="mb-1">{{ post.title }}</h5>
      <small>Опубликовано: {{ post.created_at|date:"d M Y" }}</small>
      <span class="badge bg-secondary float-end">{{ post.views_count }} просмотров</span>
  </a>
  {% empty %}
  <p>Нет опубликованных статей.</p>
  {% endfor %}
</div>
{% endblock %}